# Dependencies
/node_modules/

# Production build and test coverage
/build/
/coverage/

# Local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor settings
.idea/
.vscode/
*.swp

# Operating system files
.DS_Store
Thumbs.db

